* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #F5F7FA;
}

a {
  text-decoration: none;
  padding: 15px;
}

/* Main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  background: #FFFFFF;
  padding: 105px 90px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* About styles */

.about {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-description {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Project styles */

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.project-list {
  padding: 0;
  margin-left: 15px;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.project,
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  margin-left: 10px;
}

.project-bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* Work styles */

.position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin-bottom: 10px;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.line {
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}


/* Education styles */



/* Sidebar styles */

.sidebar {
  width: 370px;
  background: #1E2939;
  padding-top: 40px;
}

.photo {
  margin-bottom: 50px;
  width: 370px;
  border-radius: 100%;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar-title {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.contact-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.contact-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #747c88;
}

.tech-skills {
  margin-bottom: 45px;
}

.tech-skills-list,
.soft-skills-list {
  color: #FFFFFF;
  padding: 0;
  margin-left: 16px;

}

.tech-skills-item,
.soft-skills-item {
  color: #FB6D3A;
}

.tech-skills-text,
.soft-skills-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}